<% if @snippet.errors.any? %>
  <ul>
    <% @snippet.errors.full_messages.each do |message| %>
      <li>
      <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>



<%= form_for @snippet do |f| %>
  <div>
    <%= f.label :kind %>
    <%= f.collection_select :kind_id, Kind.order(:name), :id, :name %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :work %>
    <%= f.text_area :work, rows: 20 %>
  </div>
  <div>
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>
  <div>
    <%= f.submit "Save" %>
  </div>
<% end %>
